@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@300;500&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: #f7fafc;
}

.Login__view-root {
  width: 100vw;
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.loading {
  margin: auto;
}